<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fulwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="First name" [(ngModel)]="address.firstname" name="firstname">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="Last name" [(ngModel)]="address.lastname" name="lastname">
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <mat-input-container class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.city" name="city"></textarea>
    </mat-input-container>
  </p>

  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput maxlength="5" #postalcode placeholder="postal code" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode">
          <mat-hint align="end">
            {{postalcode.value.length}} /5
          </mat-hint>
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>
